body {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    color: rgba(0, 0, 0, .5);
    font-size: xx-large;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, red, yellow);
}